botocore==1.10.66
certifi==2018.4.16
colorama==0.3.7
cycler==0.10.0
docutils==0.14
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.15.0
pandas==0.23.3
pyasn1==0.4.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.5
PyYAML==3.12
rsa==4.1
s3transfer==0.1.13
scikit-learn==0.19.2
six==1.11.0
